[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-decouple = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
django-verify-email = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
