.format-font {
    font-family: Futura-pt, sans-serif;

}
.my-container {
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid rgb(204, 203, 203);
    background-color: #F0E9D2;
}


#logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 15px;
}

.my-button {
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #9CC5A1;
    color: white;
    border-radius: 25px;
    transition-duration: 500ms;
    text-decoration: none;

}
.my-button:hover {
    color: #9CC5A1;
    background-color: white;
    border-radius: 0px;
    border: 1px solid #9CC5A1;
    transition-duration: 200ms;
}