{% extends 'base.html' %}
{% block title %}
Timeline
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h3>Hi {{ user.username }}! </h3>
  <p>Welcome to ackerland timetable</p>

  {% for floor in lineup %}
    <h2>{{floor.name}}</h2>
    <table>
      <tr>
        <th>START</th>
        <th>END</th>
        <th>ACT</th>
        <th>GENRE</th>
        <th>BIO</th>
      </tr>
      {% for timeslot in floor.timetable %}
        <td>{{timeslot.start_time}}</td>
        <td>{{timeslot.end_time}}</td>
        <td>
          {% for act in timeslot.acts %}
            {% if forloop.first %}
              {{act.pseudonym}}
            {% else %}
              B2B {{act.pseudonym}}
            {% endif %}
          {% endfor %}
        </td>
        <td>{{timeslot.genre}}</td>
        <td>
          {% for act in timeslot.acts %}
            {% if forloop.first %}
              {{act.bio}}
            {% else %}
              , {{act.bio}}
            {% endif %}
          {% endfor %}
        </td>
      {% endfor %}
    </table>
  {% endfor%}

  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>Welcome to ackerland timetable</p>
  <p>Kindly login or signup</p>
  <a href="{% url 'login' %}">Login</a> |
  <a href="{% url 'timeline:signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
